.ContactInfo_items{
  font-size: 14px;
  color: #787878;
}
.ContactInfo_items > span{
  color: #000;
  font-weight: 5000;
}

 .contactSocail-icons{
  display: flex !important;
  align-items: center !important;
  
}
.contactSocail-icons > a > .MuiSvgIcon-root {
  font-size: 28px !important;
  margin-right: 10px;
  background-color: var(--main-color)!important;
  color: #fff !important;
  border-radius: 10px;
  padding: 5px;
}
